.container{
    background-color: white;
    padding: 1rem 5rem;
}
.innerContainer{
    
  
    width: 50vw;
}
.header{
    color: black;
    font-size: 4rem;
}

.secondSection{
   
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    
}

.details{
   
    width: 100%;

    
}

.detailsHeader{
 
    width: fit-content;
    
}

.detailsParag{
    color: black;
}

.detailsParag{
    font-size: x-large;
}

.dhead{
    color: black;
}