.container{
    display: flex;
    border: 4px;
    border-style: solid;
    border-color: gray;
    width: 80%;
}

.detailSection{
    
    
    width: 50%;
    padding: 4rem;
}
.pictureSection{
    display: flex;
    justify-self: center;
    align-items: center;
    
    width: 50%;
}