.container {
    width: 100vw;
    height: 100vh; // Always take full screen height
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
  }
  
  .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1; // take all available vertical space
    text-align: center;
  
    @media (max-width: 768px) {
      padding: 1rem;
    }
  }
  
  .hakdog {
    font-size: clamp(3rem, 8vw, 8rem); /* Make header larger on smaller screens */
    margin: 0;
  }
  .parContainer {
    width: 50%;
  }
  
  @media (max-width: 768px) {
    .parContainer {
      display: none;  /* Hide the paragraph on smaller screens */
    }
  }
  
  
  .iconRow {
    display: flex;
    justify-content: center; /* Centers the icons horizontally */
    gap: 2rem; /* Adds space between icons */
    margin-top: 2rem; /* Adds space between the header and icons */
  }
  
  .icon {
    font-size: 4rem; /* Default icon size */
    color: white; /* Make icons white */
    cursor: pointer;
    transition: color 0.3s ease;
  
    &:hover {
      color: #615eff; /* Change color on hover */
    }
  }
  
  @media (max-width: 768px) {
    .icon {
      font-size: 3rem; /* Reduce icon size on medium screens */
    }
  }
  
  @media (max-width: 480px) {
    .icon {
      font-size: 2rem; /* Further reduce icon size on small screens */
    }
  }
  
  
  .ctaContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }
  
  .cta {
    border: none;
    border-radius: 40px;
    padding: 1.2rem 2.5rem; /* Make the button slightly bigger */
    background-color: #615EFF;
    color: white;
    font-weight: bold;
    font-size: 1.7rem; /* Slightly bigger font size for the button */
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    @media (max-width: 768px) {
      font-size: 1.6rem; /* Slightly smaller font size for mid-size screens */
      padding: 1rem 2rem;
    }
  
    @media (max-width: 480px) {
      font-size: 1.4rem; /* Slightly smaller font size for mobile screens */
      padding: 0.9rem 1.8rem;
    }
  
    &:hover {
      background-color: red;
    }
  
    &:focus,
    &:active {
      background-color: white;
      color: #615EFF;
    }
  }
  