ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white
}

.hi{
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}